
@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddBook</h2>
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<input type="text" />
<br />
<br />
<hr />
<h1 align="center">Calling partial View</h1>


<partial name="Book2" />










