
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_RegistraionLayout.cshtml";
}

    <h2 class="title" style="color:red">Login</h2>

<form method="POST">
    <div class="input-group">
        <input class="input--style-3" type="text" placeholder="Name" name="name">
    </div>
    <div class="input-group">
        <input class="input--style-3" type="text" placeholder="Name" name="name">
    </div>
    <input type="submit" value="login" />
</form>